@{
    ViewBag.Title = "Juegos de memoria";
}
<h2 style="text-align:center">@ViewBag.Title.</h2>
<section class="feature-section spad" style="background-color:blueviolet">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 p-0" style="background-color:blueviolet">
                <div class="feature-item set-bg" data-setbg="img/features/1.jpg">
                    <span class="cata new">Nuevo</span>
                    <div class="fi-content text-white">
                        <h5><a href="#">Memorama de Frutas y Verduras</a></h5>
                        <p>Busca las diez diferentes frutas y verduras </p>
                        <button class="site-btn btn-sm" onclick="btnFrutas()">Jugar</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 p-0" style="background-color:red">
                <div class="feature-item set-bg" data-setbg="img/features/2.jpg">
                    <span class="cata strategy">Nuevo</span>
                    <div class="fi-content text-white">
                        <h5><a href="#"></a>Memorama de Aplicaciones</h5>
                        <p>Encuentra las distintas aplicaciones</p>
                        <button class="site-btn btn-sm" onclick="btnApp()">Jugar</button>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 p-0" style="background-color:blue">
                <div class="feature-item set-bg" data-setbg="img/features/3.jpg">
                    <span class="cata new">Nuevo</span>
                    <div class="fi-content text-white">
                        <h5><a href="#">Memorama de Numeros</a></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        <button class="site-btn btn-sm">Jugar</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 p-0" style="background-color:yellow">
                <div class="feature-item set-bg" data-setbg="img/features/4.jpg">
                    <span class="cata strategy">Nuevo</span>
                    <div class="fi-content text-white">
                        <h5><a href="#"></a>Memorama de Animales</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        <button class="site-btn btn-sm">Jugar</button>

                    </div>
                </div>
            </div>



        </div>
    </div>
   
</section>


